/* BLUE */
/* [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  display:none;
} */

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid black;
}

 a.blue, a.blue:hover, a.blue:visited {
     color: #4F82D5;
     border-bottom: 4px solid #4F82D5;
     background: #4F82D5;
     text-shadow: 0px 1px 0px #4F82D5;
     background: -webkit-gradient(linear, left top, left bottom, from(#4F82D5), to(#4F82D5));
     background: -moz-linear-gradient(top, #4F82D5, #4F82D5);
     box-shadow: inset 1px 1px 0 #4F82D5;
}
 .blue:before, .blue:after {
     border: 1px solid #4F82D5;
     border-bottom: 1px solid #4F82D5;
}
 a.blue:hover {
     background: #4F82D5;
     background: -webkit-gradient(linear, left top, left bottom, from(#4F82D5), to(#4F82D5));
     background: -moz-linear-gradient(top, #4F82D5, #4F82D5);
}
/* GREEN */
 a.green, a.green:hover, a.green:visited {
     color: #499F48;
     border-bottom: 4px solid #499F48;
     text-shadow: 0px 1px 0px #499F48;
     background: #499F48;
     background: -webkit-gradient(linear, left top, left bottom, from(#499F48), to(#499F48));
     background: -moz-linear-gradient(top, #499F48, #499F48);
     box-shadow: inset 1px 1px 0 #499F48;
}
 .green:before, .green:after {
     border: 1px solid #499F48;
     border-bottom: 1px solid #499F48;
}
 a.green:hover {
     background: #499F48;
     background: -webkit-gradient(linear, left top, left bottom, from(#499F48), to(#499F48));
     background: -moz-linear-gradient(top, #499F48, #499F48);
}
 a.button {
     display: block;
     float: left;
     position: relative;
     height: 27px;
     width: 80px;
     margin: 0 10px 18px 0;
     text-decoration: none;
     font: 13px Comic Sans MS, cursive, sans-serif;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
}
 a.button:before, a.button:after {
     content: '';
     position: absolute;
     left: -1px;
     height: 25px;
     width: 80px;
     bottom: -1px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
}
 a.button:before {
     height: 23px;
     bottom: -4px;
     border-top: 0;
     -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
     border-radius: 0 0 3px 3px;
     -webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
     -moz-box-shadow: 0 1px 1px 0px #bfbfbf;
     box-shadow: 0 1px 1px 0px #bfbfbf;
}
 .cover {
     background-color:black;
     width:100%;
     height:100%;
     display:none;
     position:fixed;
     top:0;
     left:0;
     z-index: 10000;
}
