.menu-tooltip {
     position: absolute;
     display: inline-block;
     height: 20px;
    /* border-bottom: 1px dotted black;
     */
     opacity: 1;
}
 .menu-tooltip .menu-tooltiptext {
     font-size: 12px;
     font-family: Comic Sans MS;
     visibility: hidden;
     width: 185px;
     background-color: inherit;
     color: #fff;
     text-align: left;
     border-radius: 6px;
     padding: 2px 10px;
     position: absolute;
     z-index: 1;
     top: 12px;
     right: 115%;
     height: 22px !important;
     vertical-align: middle;
     line-height: 17px;
}
 .menu-tooltip .secondery-menu-tooltiptext {
     font-family: Comic Sans MS;
     font-size: 12px;
     visibility: hidden;
     width: 185px;
     background-color: inherit;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     line-height: 15px;
     height: 40px !important;
    /* padding: 2px 10;
     */
     position: absolute;
     z-index: 1;
     top: 10px;
     right: 115%;
}
 .menu-tooltip .menu-tooltiptext::after {
     content: "";
     position: absolute;
     top: 40%;
     right: -11px;
     margin-top: -5px;
     border-width: 7px;
     border-style: solid;
     border-color: transparent transparent transparent var(--transparent-background-color);
}
 .menu-tooltip .secondery-menu-tooltiptext::after {
     content: "";
     position: absolute;
     top: 22%;
     right: -11px;
     margin-top: -5px;
     border-width: 6px;
     border-style: solid;
     border-color: transparent transparent transparent var(--transparent-background-color);
}
 .menu-tooltip:hover .menu-tooltiptext {
     visibility: visible;
}
 .menu-tooltip:hover .secondery-menu-tooltiptext{
     visibility: visible;
}
 .feedback-tooltip {
     position: absolute;
     display: inline-block;
     border-bottom: 1px dotted black;
     z-index: 100000;
}

.feedback-icon {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
    z-index: 10000;
}
 .feedback-tooltip .feedback-tooltip-window {
    /* visibility: hidden;
     */
     width: 400px;
     overflow: auto;
     background-color: white;
     color: black;
     text-align: center;
     border-radius: 6px;
     border-style: solid;
     border-color: #ccc #ccc #ccc #ccc;
     border-width: 1px;
     padding: 5px 0;
    /* Position the tooltip */
     position: absolute;
     z-index: 10000;
     top: 20px;
     left: 50%;
     margin-left: -60px;
     border-color: #ccc #ccc #ccc #ccc;
}


.feedback-icon .feedback-tooltip-icon {
   /* visibility: hidden;
    */
    width: 150px;
    overflow: auto;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 6px;
    /* border-style: solid; */
    border-color: #ccc #ccc #ccc #ccc;
    border-width: 1px;
    padding: 5px 0;
   /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    /* top: 20px;
    left: 70%; */
    margin-left: -60px;
    border-color: #ccc #ccc #ccc #ccc;
}


 #feedback-window-title {
     color: black;
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
}
/* .feedback-tooltip .feedback-tooltip-window::after {
     content: "";
     position: absolute;
     z-index: 1;
     content: "";
     position: absolute;
     bottom: -11px;
     left: 100px;
     margin-top: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #ccc transparent transparent transparent;
}
 */
 .feedback-tooltip:hover .feedback-tooltip-window {
     visibility: visible;
}
 .rate {
    /* border: 1px solid #cccccc;
     */
     float: left;
     height: 46px;
     padding: 10px 10px;
     margin-left: 10%;
}
 .rate:not(:checked) > input {
     position: absolute;
     top: -9999px;
}
 .rate:not(:checked) > label {
     float: right;
     width: 1em;
     overflow: hidden;
     white-space: nowrap;
     cursor: pointer;
     font-size: 30px;
     color: #ccc;
}
 .rate:not(:checked) > label:before {
     content: '★ ';
}
 .rate > input:checked ~ label {
     color: #ffc700;
}
 .rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
     color: #deb217;
}
 .rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
     color: #c59b08;
}
 #ex1Slider .slider-selection {
     background: #BABABA;
     width: 1px;
}
 .slider.slider-horizontal{
     width:360px !important;
}
 .dropdown a {
    /* font-family: 'Josefin Sans', sans-serif;
     */
     font-size: 12px;
     color: #fff;
     text-decoration: none;
     display: block;
    /* text-align: left;
     */
    /* border-radius: 6px;
     */
    /* height: 30px;
     */
     margin-top: 0px;
     line-height: 14px !important;
     padding: 2px 0 2px 10px;
     width: 100%;
     text-align: left;
     height: 20px !important;
}
 #feedback-menuItem .dropdown a:hover {
    background-color: #29a806;
}
 #help-menuItem .dropdown a:hover {
    background-color: #D87878;
}
 #surveys-menuItem .dropdown a:hover {
    background-color: #FFCB00;
}
 .modal-header {
     padding-bottom: 5px;
}
 .modal-footer {
     padding: 0;
}
 .modal-footer .btn-group button {
     height:40px;
     border-top-left-radius : 0;
     border-top-right-radius : 0;
     border: none;
     border-right: 1px solid #ddd;
}
 .modal-footer .btn-group:last-child > button {
     border-right: 0;
}
 .model-content {
     border: 2px solid #ccc;
     border-radius: 6px;
     border-style: solid;
     border-color: #ccc #ccc #ccc #ccc;
     border-width: 1px;
     padding: 5px 0;
}
/* content: '\2605';
/*unicode star character*/
